<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SelfAssistanceIntent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SelfAssistanceIntentUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>self_assistant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D149CC81DF615230056A532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D149CDF1DF615230056A532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D149CEA1DF615230056A532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D149D001DF616460056A532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D149D091DF616460056A532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
